/*@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");*/

body {
  margin: 0;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

#c {
  height: calc(100vh - 10rem);
}