/*@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");*/

:root {
  --dark: #222034;
  --light: #eee7ca;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 24px;
  font-weight: bold;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: var(--dark);
}

.page {
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  display: flex;
  overflow-y: auto;
}

h1, h2, h3, p, a, span {
  font-family: 'IBM Plex Serif', serif;
  color: var(--light);
  text-align: center;
}

h2 {
  margin: 0;
}

#c {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
}

#baz {
  text-decoration: none;
  height: 0.75rem;
}

#baz img {
  height: 100%;
}
